<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/> 
        <title>@ViewData["title"] - Newsletter</title>
    </head>
    <body>
        <header>
            <h1> Newsletter</h1>
        </header>
        <div>
            <main role="main">
              @RenderBody()
            </main>
        
        
        </div>




    </body>







</html>